@import "../../../styles/colors.scss";

.global_header_spacing {
  padding-top: 278px;
}
.resetPassword_card {
  box-shadow: 0px 0px 10px 0px $main-black-shade2;
  max-width: 730px;
  margin: auto;
  background-color: $main-white;
  padding: 40px;
  border-radius: 10px;

  .resetPassword_card_title {
    border-bottom: 1px solid $main-black-shade7;
  }
}

@media (max-width: 1700px) {
  .global_header_spacing {
    padding-top: 184px;
  }
}
@media (max-width: 1499.98px) {
  .global_header_spacing {
    padding-top: 182px;
  }
}
@media (max-width: 1199.98px) {
  .global_header_spacing {
    padding-top: 174px;
  }
}
@media (max-width: 767.98px) {
  .global_header_spacing {
    padding-top: 96px;
  }

  .resetPassword_card {
    padding: 30px;
  }
}
@media (max-width: 575px) {
  .global_header_spacing {
    padding-top: 87px;
  }
}
