$primary-color: #f08bb3;
$primary-dark-color: #e275a8;
$secondary-color: rgb(28, 44, 57);
$third-color: rgb(238, 238, 238);

$main-black: rgb(0, 0, 0);
$main-white: rgba(255, 255, 255, 1);

$third-shade1: rgb(238, 238, 238, 0.75);
$third-shade2: rgb(238, 238, 238, 0.5);
$third-shade3: rgb(238, 238, 238, 0.25);
$third-shade4: rgb(238, 238, 238, 0.1);
$third-shade5: rgb(238, 238, 238, 0.06);

$main-black-shade1: rgb(0, 0, 0, 0.1);
$main-black-shade2: rgb(0, 0, 0, 0.2);
$main-black-shade3: rgb(0, 0, 0, 0.3);
$main-black-shade4: rgb(0, 0, 0, 0.4);
$main-black-shade5: rgb(0, 0, 0, 0.5);
$main-black-shade6: rgb(0, 0, 0, 0.6);
$main-black-shade7: rgb(0, 0, 0, 0.7);
$main-black-shade8: rgb(0, 0, 0, 0.8);
$main-black-shade9: rgb(0, 0, 0, 0.9);

$main-white-shade1: rgb(255, 255, 255, 0.1);
$main-white-shade2: rgb(255, 255, 255, 0.2);
$main-white-shade3: rgb(255, 255, 255, 0.3);
$main-white-shade4: rgb(255, 255, 255, 0.4);
$main-white-shade5: rgb(255, 255, 255, 0.5);
$main-white-shade6: rgb(255, 255, 255, 0.6);
$main-white-shade7: rgb(255, 255, 255, 0.7);
$main-white-shade8: rgb(255, 255, 255, 0.8);
$main-white-shade9: rgb(255, 255, 255, 0.9);

$primary-color-shade1: rgb(240, 139, 179, 0.1);
$primary-color-shade2: rgb(240, 139, 179, 0.2);
$primary-color-shade3: rgb(240, 139, 179, 0.3);
$primary-color-shade4: rgb(240, 139, 179, 0.4);
$primary-color-shade5: rgb(240, 139, 179, 0.5);

$main-product-card: #f8f8f8;
$main-product-btn-color1: #ff6caa;
$main-product-btn-color2: #ed82af;
$main-product-btn-color3: #f7c1d8;

$grey-color: #d9d9d9;
$form-border: #cfcfcf;

$media_path: "http://cennolliocake.wedowebapps.in/media/front-images";
