.authenticated {
  display: block;
}

.unauthenticated {
  display: block;
}

.hidden {
  display: none;
}

@import "../../../styles/colors.scss";

.authHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  border-bottom: 1px solid $main-black-shade5;

  .authHeaderTitle {
    font-size: 32px;
    font-weight: 600;
    color: $main-black;

    img {
      width: 82px;
      height: 82px;
      object-fit: cover;
    }
  }
}

.tabList {
  display: flex;
  gap: 100px;
}

.verification {
  font-size: 32px;
  font-weight: 600;
  background: none;
  text-transform: uppercase;
  border: none;
}

.tabButton {
  font-size: 32px;
  font-weight: 600;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: $main-black;
  opacity: 0.5;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 3px;
    width: 0;
    border-radius: 10px;
    background-color: $main-black;
    opacity: 0;
    transition: all 400ms ease-in-out;
  }
  &.active {
    opacity: 1;
    &::after {
      opacity: 1;
      width: 100%;
    }
  }
}

.closeButton {
  font-weight: 400;
  border: 1.5px solid $main-black;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}

@media (max-width: 1700px) {
  .tabButton {
    font-size: 28px;
  }
  .tabList {
    gap: 70px;
  }
  .authHeader {
    .authHeaderTitle {
      font-size: 28px;
      font-weight: 600;
      color: $main-black;
    }
  }
}

@media (max-width: 1199.98px) {
  .authHeader {
    padding: 15px 40px;
  }
  .tabButton {
    &::after {
      bottom: -17px;
    }
  }
}

@media (max-width: 991.98px) {
  .tabButton {
    font-size: 24px;
    &::after {
      bottom: -17px;
    }
  }
  .tabList {
    gap: 70px;
  }

  .closeButton {
    width: 30px;
    height: 30px;

    svg {
      max-width: 20px;
    }
  }

  .authHeader {
    .authHeaderTitle {
      font-size: 24px;
    }
  }
}

@media (max-width: 767px) {
  .authHeader {
    padding: 15px 20px;

    .authHeaderTitle {
      font-size: 20px;

      img {
        width: 65px;
        height: 65px;
      }
    }
  }
  .tabList {
    gap: 40px;
  }
  .tabButton {
    font-size: 20px;
    &::after {
      bottom: -19px;
    }
  }
}
