@import "../../../styles/colors.scss";

.global_header_spacing {
  padding-top: 278px;
}
.banner_main {
  // background-image: url("#{$media_path}/search-product/search-result-bg.png");
  background-color: $third-color;
  background-repeat: no-repeat;
  padding: 50px 0 60px;
  min-height: 370px;
  background-size: cover;
  background-position: center;
  .banner_wrapper {
    .banner_title {
      h1 {
        word-break: break-word;
        line-height: 70px !important;
      }
    }
    .banner_breadcrum {
      padding-bottom: 30px;
      .banner_breadcrum_a {
        color: $secondary-color;
        opacity: 0.8;

        &.banner_breadcrum_active {
          opacity: 1;
          font-weight: 600;
        }
      }
    }
  }
}
@media (max-width: 1700px) {
  .global_header_spacing {
    padding-top: 184px;
  }
  .banner_main {
    .banner_wrapper {
      .banner_title {
        h1 {
          line-height: 64px !important;
        }
      }
    }
  }
}
@media (max-width: 1499.98px) {
  .global_header_spacing {
    padding-top: 182px;
  }
  .banner_main {
    .banner_wrapper {
      .banner_title {
        h1 {
          line-height: 55px !important;
        }
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .global_header_spacing {
    padding-top: 174px;
  }
  .banner_main {
    .banner_wrapper {
      .banner_title {
        h1 {
          line-height: 50px !important;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  .banner_main {
    min-height: 330px;
    background-image: unset;
    background-color: $third-color;
    .banner_wrapper {
      .banner_title {
        h1 {
          line-height: 48px !important;
        }
      }
      .banner_breadcrum {
        padding-bottom: 30px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .global_header_spacing {
    padding-top: 96px;
  }
  .banner_main {
    min-height: 275px;
    padding: 30px 0 50px;
    .banner_wrapper {
      .banner_title {
        h1 {
          line-height: 40px !important;
        }
      }
      .banner_breadcrum {
        padding-bottom: 25px;
      }
    }
  }
}
@media (max-width: 575px) {
  .global_header_spacing {
    padding-top: 87px;
  }
}
