.product-details-container {
  padding-top: 48px;
  margin-top: 57px;
  margin-bottom: 57px;

  @media (min-width: 640px) {
    margin-top: 73px;
    margin-bottom: 73px;
  }

  @media (min-width: 768px) {
    padding-top: 64px;
  }

  @media (min-width: 1024px) {
    margin-top: 92px;
  }

  @media (min-width: 1280px) {
    margin-top: 96px;
  }

  @media (min-width: 1536px) {
    padding-top: 96px;
    margin-top: 100px;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 15px;
  }
}

.richText h1 {
  font-size: 48px;
  line-height: 1;
}
.richText span img,
.richText p img {
  display: inline-block;
}

@media (max-width: 1236px) {
  .richText h1 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media (max-width: 1024px) {
  .richText h1 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 767px) {
  .richText h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
